Controles/Web References/Serv_CadPessoa/AtualizarCadastro.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Atualizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLCad">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdFilial" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AtualizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AtualizarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AtualizarFilial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLCad">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdFilial" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AtualizarFilialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AtualizarFilialResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AtualizarSoapIn">
    <wsdl:part name="parameters" element="tns:Atualizar" />
  </wsdl:message>
  <wsdl:message name="AtualizarSoapOut">
    <wsdl:part name="parameters" element="tns:AtualizarResponse" />
  </wsdl:message>
  <wsdl:message name="AtualizarFilialSoapIn">
    <wsdl:part name="parameters" element="tns:AtualizarFilial" />
  </wsdl:message>
  <wsdl:message name="AtualizarFilialSoapOut">
    <wsdl:part name="parameters" element="tns:AtualizarFilialResponse" />
  </wsdl:message>
  <wsdl:portType name="AtualizarCadastroSoap">
    <wsdl:operation name="Atualizar">
      <wsdl:input message="tns:AtualizarSoapIn" />
      <wsdl:output message="tns:AtualizarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarFilial">
      <wsdl:input message="tns:AtualizarFilialSoapIn" />
      <wsdl:output message="tns:AtualizarFilialSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AtualizarCadastroSoap" type="tns:AtualizarCadastroSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Atualizar">
      <soap:operation soapAction="http://tempuri.org/Atualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarFilial">
      <soap:operation soapAction="http://tempuri.org/AtualizarFilial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AtualizarCadastroSoap12" type="tns:AtualizarCadastroSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Atualizar">
      <soap12:operation soapAction="http://tempuri.org/Atualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarFilial">
      <soap12:operation soapAction="http://tempuri.org/AtualizarFilial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AtualizarCadastro">
    <wsdl:port name="AtualizarCadastroSoap" binding="tns:AtualizarCadastroSoap">
      <soap:address location="http://177.19.133.130/WSCadPessoa/AtualizarCadastro.asmx" />
    </wsdl:port>
    <wsdl:port name="AtualizarCadastroSoap12" binding="tns:AtualizarCadastroSoap12">
      <soap12:address location="http://177.19.133.130/WSCadPessoa/AtualizarCadastro.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>