Controles/Web References/NFeConsultaProtocolo4/NFeConsultaProtocolo4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4">
      <s:element name="nfeDadosMsg">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nfeResultMsg">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="nfeConsultaNFSoapIn">
    <wsdl:part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
  </wsdl:message>
  <wsdl:message name="nfeConsultaNFSoapOut">
    <wsdl:part name="nfeResultMsg" element="tns:nfeResultMsg" />
  </wsdl:message>
  <wsdl:portType name="NFeConsultaProtocoloSoap">
    <wsdl:operation name="nfeConsultaNF">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servico destinado ao atendimento de solicitacoes de consulta da situacao atual da NF-e</wsdl:documentation>
      <wsdl:input message="tns:nfeConsultaNFSoapIn" />
      <wsdl:output message="tns:nfeConsultaNFSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NFeConsultaProtocoloSoap12" type="tns:NFeConsultaProtocoloSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeConsultaNF">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeConsultaProtocolo4/nfeConsultaNF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NFeConsultaProtocolo4">
    <wsdl:port name="NFeConsultaProtocoloSoap12" binding="tns:NFeConsultaProtocoloSoap12">
      <soap12:address location="http://nfe.sefaz.ce.gov.br:80/nfe4/services/NFeConsultaProtocolo4" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>