Controles/Web References/RegistrarPedidoVenda/RegistroVenda.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RegistrarVenda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdFilial" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="XmlCadPessoa">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="XmlVenda">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="XmlItens">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarVendaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarVendaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegistrarVendaSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarVenda" />
  </wsdl:message>
  <wsdl:message name="RegistrarVendaSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarVendaResponse" />
  </wsdl:message>
  <wsdl:portType name="RegistroVendaSoap">
    <wsdl:operation name="RegistrarVenda">
      <wsdl:input message="tns:RegistrarVendaSoapIn" />
      <wsdl:output message="tns:RegistrarVendaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegistroVendaSoap" type="tns:RegistroVendaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarVenda">
      <soap:operation soapAction="http://tempuri.org/RegistrarVenda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegistroVendaSoap12" type="tns:RegistroVendaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarVenda">
      <soap12:operation soapAction="http://tempuri.org/RegistrarVenda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistroVenda">
    <wsdl:port name="RegistroVendaSoap" binding="tns:RegistroVendaSoap">
      <soap:address location="http://177.19.133.130/ERP-SGE_WebService/RegistroVenda.asmx" />
    </wsdl:port>
    <wsdl:port name="RegistroVendaSoap12" binding="tns:RegistroVendaSoap12">
      <soap12:address location="http://177.19.133.130/ERP-SGE_WebService/RegistroVenda.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>