Controles/Web References/NFeRecepcaoEvento4/NFeRecepcaoEvento4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4">
      <s:element name="nfeDadosMsg">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nfeResultMsg">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="nfeRecepcaoEventoSoapIn">
    <wsdl:part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
  </wsdl:message>
  <wsdl:message name="nfeRecepcaoEventoSoapOut">
    <wsdl:part name="nfeResultMsg" element="tns:nfeResultMsg" />
  </wsdl:message>
  <wsdl:portType name="NFeRecepcaoEventoSoap">
    <wsdl:operation name="nfeRecepcaoEventoNF">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servico destinado ao atendimento de solicitacoes de Recepcao de Eventos</wsdl:documentation>
      <wsdl:input message="tns:nfeRecepcaoEventoSoapIn" />
      <wsdl:output message="tns:nfeRecepcaoEventoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="nfeRecepcaoEvento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servico destinado ao atendimento de solicitacoes de Recepcao de Eventos</wsdl:documentation>
      <wsdl:input message="tns:nfeRecepcaoEventoSoapIn" />
      <wsdl:output message="tns:nfeRecepcaoEventoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NFeRecepcaoEventoSoap12" type="tns:NFeRecepcaoEventoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeRecepcaoEventoNF">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4/nfeRecepcaoEventoNF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nfeRecepcaoEvento">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NFeRecepcaoEvento4/nfeRecepcaoEvento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NFeRecepcaoEvento4">
    <wsdl:port name="NFeRecepcaoEventoSoap12" binding="tns:NFeRecepcaoEventoSoap12">
      <soap12:address location="http://nfe.sefaz.ce.gov.br:80/nfe4/services/NFeRecepcaoEvento4" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>